body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::before, .row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
    /*border: 1px black solid;*/
}

/* -------------------------Header -------------------------*/
nav {
    background: #313332;
    height: 50px;
}

nav div ul li {
    list-style: none;
    float: right;
   }

nav div ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: -16px; /*tego nie rozumiem jak to obejść pogadać z MIchałem*/
}

nav div>ul>li a:hover {
    background-color: #EF501D;
}

nav img {
    float: left;
    margin: 10px 20px;
    max-height: 30px;

    }

/* -------------------------Hero -------------------------*/

.hero {
    background-image: url("https://images.unsplash.com/photo-1514989940723-e8e51635b782?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc0d121bb9686638120ca91084f670b4&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    overflow: hidden;
}

.slogan {
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    max-width: 500px;
    padding: 2% 10%;
    color: white;
    margin-top: 40vh;
    font-size: x-large;
}

/* -------------------------Benefits -------------------------*/
.benefits > .container {
    margin: 50px auto;
}

.benefits p {
    color: grey;
    max-height: 10vh;
    overflow: hidden; /*nie umiem tego uciąć do np 4 wierszy max*/
    text-align: center;
    letter-spacing: 1px;
}

.benefits > .container > h1 {
 margin-bottom: 0;
}

.benefits .row, .benefits h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.benefits .header, .benefits h1 {
    text-transform: uppercase;
 }

.benefits .col-3:hover {
    color: #00C7E8;
}
/* -------------------------Gallery -------------------------*/
/*!* ni umiem zrobić galerii jak narazie*!*/

.gallery img {
    padding: 0 0;
    max-height: 150px;
    object-fit: cover;
}

.gallery img:hover {
    opacity: 0.8;
    cursor: pointer;

}

/* -------------------------Team -------------------------*/

.team > .container > .row {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.team img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.team p {
    text-align: center;
    color: grey;
}

.team > .container > .row .col-3 {
    position: relative;
    padding: 0;
    margin-right: 2%;
}

/* nie rozumiem tego*/
[class*="position-overlay-"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    /*background-color: #9A9A9A;*/
    border-radius: 50%;
    text-transform: uppercase;
}

.container > .row > .col-3:hover [class*="position-overlay-"] {
    opacity: 1;
    transition: .3s ease-in-out;

}

.team > .container > .row .col-3:hover p {
    transform: scale(1.2);
    text-transform: uppercase;
    font-weight: 700;
}

.team > .container > .row .col-3:hover img {
    /*transform:rotateY(180deg);*/
    /*transform: scale3d(1.1, 1.1, 1.1);*/
    opacity: 0.3;
}

[class*="text-position"] {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* -------------------------GRID -------------------------*/
/* -------------------------columns-------------------------*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* --------------------offsets-------------------------*/

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}
/* --------------------footer-------------------------*/


